/* 全局设置 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 12px arial;
    background-image: none;
    box-sizing: border-box;
    /*怪异盒模型*/
}
body {
    min-width: 350px;
}

.new-toolbar {
    position: relative;
    background-color: #3e98f0;
    text-align: center;
    font-weight: 400;
    color: #fff;
    height: 42px;
    min-width: 320px;
    z-index: 2;
    background-image: url(../img/logobg.png);
    background-repeat: no-repeat;
    background-position: center 6px;
    background-size: 86px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.ui-new-toolbar-l,
.ui-new-toolbar-r {
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.new-toolbar-l {
    top: 0;
    left: 0;
}

.new-toolbar-r {
    top: 0;
    right: 0;
}

.new-btn {
    width: 34px;
    height: 42px;
    font-size: 15px;
    line-height: 44px;
}

.btn-baidu {
    background: url(../img/icon.png) repeat;
    background-position: -6px 0px;
    float: left;
    background-size: 49px;
}

.btn-usehome {
    background: url(../img/icon.png) repeat;
    background-position: -9px 40px;
    margin-left: 4px;
    float: left;
    background-size: 49px;
}

.btn-search {
    background: url(../img/icon.png) repeat;
    background-position: -9px -134px;
    float: right;
    background-size: 49px;
}

.btn-subscribe {
    background: url(../img/icon.png) repeat;
    background-position: -6px -202px;
    margin-right: 4px;
    float: right;
    background-size: 49px;
}


/*头部*/

.header {
    width: 100%;
    background-color: #3e98f0;
    color: #fff;
    cursor: pointer;
}


/*内容区*/

.content {
    width: 100%;
    height: 100px;
}


/*分类表格*/

table {
    width: 100%;
}

td {
    height: 33px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}


/*新闻*/

.news {
    border-bottom: 1px solid #f6f6f6;
    display: block;
    cursor: pointer;
}

.left {
    font-size: 0;
    height: 68px;
    vertical-align: middle;
    width: 95px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    margin-left: 0;
    margin-right: 10px;
    background-color: #F4F7F9;
    position: relative;
    display: inline-block;
}

.left img {
    width: 95px;
    height: 68px;
}

.right {
    width: 62%;
    height: 40px;
    max-height: 40px;
    display: inline-block;
}

.news_title {
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: 12px 0 4px 0;
}
