/*logo处理*/

.wrapper header img {
    width: 33px;
    height: 33px;
}


/*导航绝对定位*/

@media (min-width:768px) {
    /*侧边栏*/
    .side-nav li {
        float: left;
        width: 200px;
        border-bottom: 1px solid #e7e7e7;
    }
    .side-nav {
        position: absolute;
        top: 55px;
        left: 0px;
        float: left;
        height: 104px;
        width: 212px;
        border: 1px solid #e7e7e7;
        border-radius: 0;
        padding-bottom: 40px;
        background-color: #f8f8f8;
    }
    /*主题部分*/
    .wrapper .main {
        margin-left: 200px;
    }
}

#navbar .navber_user {
    color: #fff;
    position: absolute;
    color: #fff;
    left: 679px;
    top: 18px;
}
